@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1a1a;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Matches your app background */
  overscroll-behavior: none; /* Stops the white "rubber band" bounce */
  height: 100%;
  width: 100%;
}